[Desktop Entry]
Type=Application
Version=1.0
Name=Install DaemonCore Linux
Comment=Install DaemonCore Linux to disk
Exec=pkexec calamares
Icon=calamares
Terminal=false
Categories=System;

